*{
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
}

body{
    background-color: rgba(217, 217, 217, 1);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.car{
    display: flex;
    align-items: center;
    color: rgba(65, 123, 109, 1);
    font-size: 58px;
    font-weight: 800;
    font-style: italic;
}

.car img{
    height: 45px;
    margin-right: 10px;
}

main{
    display: flex;
    justify-content: center;
}

.functions{
    display: flex;
    align-items: center;
}

.functions img{
    height: 37px;
}

.general{
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 756px;
    background-color: rgba(233, 233, 233, 1);
    border-radius: 2px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.container-general{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 350px;
    background-color: rgba(233, 233, 233, 1);
    border-radius: 10px;
    margin-left: 2%;
}

.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 22px;
    width: 90%;
    height: 194px;
}

.infoGeral{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    margin-left: 20px;
}

.imgprod{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 154px;
    height: 159px;
    background-color: rgba(233, 233, 233, 1);
    border-radius: 16px;
}

.img{
    height: 130px;
    width: 130px;
}

.name{
    font-size: 20px;
}

.pix{
    color: rgba(5, 120, 35, 1);
    font-size: 11px;
}

.price{
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
}

.qtd{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(227, 227, 227, 1);
    border-radius: 12px;
    width: 150px;
    height: 37px;
    font-size: 20px;
}

.subtotal{
    margin-right: 70px;
}

.subt{
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
}

.value{
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
}

.header-prods{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.clear{
    background-color: transparent;
    border: 1px solid rgb(187, 52, 52);
    color: rgb(187, 52, 52);
    padding: 8px 16px;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
}

.clear:hover{
    transition: 0.1s;
    color: rgb(124, 30, 30);
    border: 1px solid rgb(124, 30, 30);
}

.division{
    height: 1px;
    width: 90%;
    background-color: rgba(131, 131, 131, 0.329);
    margin-left: 4%;
}

.prods{
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.fpix{
    margin-top: 20px;
    height: 80px;
    width: 90%;
    border-radius: 5px;
}

.fvalue{
    font-family: "Inter",sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 40px;
}

.values{
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
}

.avalue{
    padding: 15px;
}

.frete{
    padding: 15px;
}

.buy{
    margin-top: 20px;
    width: 90%;
    height: 50px;
    border: none;
    color: white;
    font-weight: 700;
    font-style: italic;
    background-color: rgba(65, 123, 109, 1);
    border-radius: 5px;
    cursor: pointer;
}

.buy:hover{
    transition: 0.1s;
    background-color: rgb(35, 66, 59);
}

footer{
    height: 87px;
    width: 100%;
    background-color: rgb(73, 115, 103);
    border-radius: 10px 10px 0px 0px; 
}